div {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
  }
  
  p {
    color: #00ff00;
    margin-bottom: 10px;
  }
  
  input {
    background-color: #0f0f0f;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 5px;
  }
  
  button {
    background-color: #006900;
    color: #0f0f0f;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #00cc00;
  }
  