/* styles.css */
:root {
    color-scheme: light dark;
  }
  body {
    font-family: 'Courier New', Courier, monospace;
    color: limegreen;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 2px solid limegreen;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 10px limegreen;
  }
  
  h1 {
    color: limegreen;
    font-size: 2em;
  }
  
  .command-line {
    margin-top: 20px;
    font-size: 16px;
    white-space: pre-wrap;
  }
  
  /* Opcional: Estilo para el botón */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: limegreen;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  