/* styles.css */
:root {
    color-scheme: light dark;
  }
  
  .container {
    text-align: center;
    border: 2px solid limegreen;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 10px limegreen;
  }
  .titulo{
    font-size: 6vh;
  }
  h1,h2,h3,h4,h5,p {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Opcional: Estilo para el botón */
  button {
    padding: 5px 10px;
    font-size: 4vh;
    background-color: limegreen;
    margin-bottom: 10px;
    width: 70%;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  