/* styles.css */
:root {
    color-scheme: light dark;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 2px solid limegreen;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 10px limegreen;
    height: 100vh;
  }
  .titulo{
    font-size: 6vh;
  }
  h1,h2,h3,h4,h5,p {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
  }
  
  /* Opcional: Estilo para el botón */
  button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: limegreen;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  